<a href="https://colab.research.google.com/github/Jenarth/SCS3250-Group-2-Final-Project/blob/master/JJ_Final_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# The Final Dataset

To simplify doing data analysis over 3 different datasets, we decided to consolidate all the relevent data we had into 1 final .csv file that we could use in all of our analysis and modeling. We brought together the GO transit ridership data, the GO transit station data and the Toronto weather data.

In [0]:
import pandas as pd
import numpy as np
from datetime import datetime
import calendar
import holidays

go_data = pd.read_csv("https://github.com/Jenarth/SCS3250-Group-2-Final-Project/raw/master/Final%20GO%20Dataset.csv", parse_dates=['Date'])
weather_data = pd.read_csv("https://github.com/Jenarth/SCS3250-Group-2-Final-Project/raw/master/Final%20Weather%20Data.csv", parse_dates=['Date/Time'])

Becuase the weather data varies significantly over the year, it was decided to calculate the monthly mean temperature (°C) and the monthly mean precipitation (mm) to understand how the temperature and precipitation varied by month. This data was added to the final dataset.

In [0]:
monthly_mean = weather_data.groupby(by="year_month")['Mean Temp (°C)','Total Precip (mm)'].mean()
monthly_mean = monthly_mean.rename(columns={'Mean Temp (°C)':'Monthly Mean Temp (°C)', 'Total Precip (mm)':'Monthly Mean Precip (mm)'})
weather_data = pd.merge(weather_data, monthly_mean, how='left', left_on='year_month', right_on='year_month')
weather_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  """Entry point for launching an IPython kernel.

      Date/Time  Year  ...  Monthly Mean Temp (°C)  Monthly Mean Precip (mm)
0    2017-03-01  2017  ...                0.116129                  2.490323
1    2017-03-02  2017  ...                0.116129                  2.490323
2    2017-03-03  2017  ...                0.116129                  2.490323
3    2017-03-04  2017  ...                0.116129                  2.490323
4    2017-03-05  2017  ...                0.116129                  2.490323
...         ...   ...  ...                     ...                       ...
1092 2020-02-26  2020  ...               -1.906897                  2.137931
1093 2020-02-27  2020  ...               -1.906897                  2.137931
1094 2020-02-28  2020  ...               -1.906897                  2.137931
1095 2020-02-29  2020  ...               -1.906897                  2.137931
1096 2020-03-01  2020  ...               -1.600000                  0.700000

[1097 rows x 12 columns]

It was also decided to add the Weekday of the date for use in analysis and modeling later.

In [0]:
weather_data['Weekday'] = weather_data.apply(lambda row: calendar.day_name[datetime.weekday(row['Date/Time'])], axis = 1)
weather_data

      Date/Time  Year  ...  Monthly Mean Precip (mm)    Weekday
0    2017-03-01  2017  ...                  2.490323  Wednesday
1    2017-03-02  2017  ...                  2.490323   Thursday
2    2017-03-03  2017  ...                  2.490323     Friday
3    2017-03-04  2017  ...                  2.490323   Saturday
4    2017-03-05  2017  ...                  2.490323     Sunday
...         ...   ...  ...                       ...        ...
1092 2020-02-26  2020  ...                  2.137931  Wednesday
1093 2020-02-27  2020  ...                  2.137931   Thursday
1094 2020-02-28  2020  ...                  2.137931     Friday
1095 2020-02-29  2020  ...                  2.137931   Saturday
1096 2020-03-01  2020  ...                  0.700000     Sunday

[1097 rows x 13 columns]

As previously mentioned, the monthly mean temperature and precipitation was calculated. To understand how the daily temperature/precipitation differed from the monthly mean temperature/precipitation, two new columns were created that represented the difference between the monthly mean temperatre/precipitation called Delta Temp (°C) and Delta Precip (mm).

In [0]:
weather_data['Delta Temp (°C)'] = weather_data.apply(lambda row: row["Mean Temp (°C)"] - row["Monthly Mean Temp (°C)"], axis=1)
weather_data['Delta Precip (mm)'] = weather_data.apply(lambda row: row["Total Precip (mm)"] - row["Monthly Mean Precip (mm)"], axis=1)
weather_data

      Date/Time  Year  Month  ...    Weekday  Delta Temp (°C)  Delta Precip (mm)
0    2017-03-01  2017      3  ...  Wednesday         5.483871          15.909677
1    2017-03-02  2017      3  ...   Thursday        -4.016129          -2.290323
2    2017-03-03  2017      3  ...     Friday        -6.316129          -2.490323
3    2017-03-04  2017      3  ...   Saturday        -9.316129          -2.290323
4    2017-03-05  2017      3  ...     Sunday        -5.616129          -2.490323
...         ...   ...    ...  ...        ...              ...                ...
1092 2020-02-26  2020      2  ...  Wednesday         2.306897           9.662069
1093 2020-02-27  2020      2  ...   Thursday        -2.093103           0.962069
1094 2020-02-28  2020      2  ...     Friday        -3.993103          -1.037931
1095 2020-02-29  2020      2  ...   Saturday        -6.093103          -0.937931
1096 2020-03-01  2020      3  ...     Sunday         0.000000           0.000000

[1097 rows x 15 columns]

In [0]:
go_data

            Date  line_id  line_name        station_name  daily_total
0     2017-03-01        3  Kitchener            Acton GO           94
1     2017-03-02        3  Kitchener            Acton GO           76
2     2017-03-03        3  Kitchener            Acton GO           73
3     2017-03-04        3  Kitchener            Acton GO            0
4     2017-03-05        3  Kitchener            Acton GO            0
...          ...      ...        ...                 ...          ...
69089 2020-02-24        4     Barrie  York University GO          275
69090 2020-02-25        4     Barrie  York University GO          287
69091 2020-02-26        4     Barrie  York University GO          269
69092 2020-02-27        4     Barrie  York University GO          264
69093 2020-02-28        4     Barrie  York University GO          195

[69094 rows x 5 columns]

The GO data was represented by station. With many stations in the dataset, it was decided that doing analyis and modeling by GO line would be better than by doing it per station. New columns were created for total GO ridership per GO line.

In [0]:
go_pivot = go_data.groupby(['line_name','Date'])['daily_total'].sum().to_frame()
go_pivot.reset_index(inplace=True)
go_pivot = go_pivot.pivot(index='Date', columns='line_name', values='daily_total')
go_pivot.fillna(value=0, inplace=True)
go_pivot

line_name    Barrie  Kitchener  ...  Stouffville  Union Station
Date                            ...
2017-03-01  10022.0    13585.0  ...       8804.0        95802.0
2017-03-02   9932.0    13331.0  ...       8736.0        95873.0
2017-03-03   8905.0    12235.0  ...       7918.0        87200.0
2017-03-04    928.0      480.0  ...        246.0        13899.0
2017-03-05    803.0      398.0  ...        156.0         8505.0
...             ...        ...  ...          ...            ...
2020-02-25  13650.0    15097.0  ...      10485.0        99431.0
2020-02-26  12596.0    13557.0  ...       9749.0        98193.0
2020-02-27  11349.0    13074.0  ...       9151.0        94998.0
2020-02-28  11098.0    13008.0  ...       8759.0        95108.0
2020-02-29   1791.0      134.0  ...        675.0        13307.0

[1096 rows x 8 columns]

From there, the weather data and the GO datasets were merged into a final dataset.

In [0]:
dataset = pd.merge(go_pivot, weather_data, how='left', left_on="Date", right_on="Date/Time")
dataset = dataset.rename(columns={'Date/Time':'Date', 'Barrie':'Barrie Ridership', 'Kitchener':'Kitchener Ridership', 'Lakeshore East':'Lakeshore East Ridership', 'Lakeshore West':'Lakeshore West Ridership', 'Milton': 'Milton Ridership', 'Richmond Hill':'Richmond Hill Ridership', 'Stouffville':'Stouffville Ridership', 'Union Station':'Union Station Ridership'})
dataset = dataset[['Date', 'Year', 'Month', 'year_month', 'Day', 'Weekday', 'Max Temp (°C)', 'Min Temp (°C)', 'Mean Temp (°C)', 'Monthly Mean Temp (°C)', 'Delta Temp (°C)', 'Total Precip (mm)', 'Monthly Mean Precip (mm)' , 'Delta Precip (mm)', 'Snow on Grnd (cm)', 'Barrie Ridership', 'Kitchener Ridership', 'Lakeshore East Ridership', 'Lakeshore West Ridership', 'Milton Ridership', 'Richmond Hill Ridership', 'Stouffville Ridership', 'Union Station Ridership']]
dataset

           Date  Year  ...  Stouffville Ridership Union Station Ridership
0    2017-03-01  2017  ...                 8804.0                 95802.0
1    2017-03-02  2017  ...                 8736.0                 95873.0
2    2017-03-03  2017  ...                 7918.0                 87200.0
3    2017-03-04  2017  ...                  246.0                 13899.0
4    2017-03-05  2017  ...                  156.0                  8505.0
...         ...   ...  ...                    ...                     ...
1091 2020-02-25  2020  ...                10485.0                 99431.0
1092 2020-02-26  2020  ...                 9749.0                 98193.0
1093 2020-02-27  2020  ...                 9151.0                 94998.0
1094 2020-02-28  2020  ...                 8759.0                 95108.0
1095 2020-02-29  2020  ...                  675.0                 13307.0

[1096 rows x 23 columns]

Here, the types of columns were fixed and the Total GO ridership across the entire network was calculated as a new column.

In [0]:
go_ridership = ['Barrie Ridership', 'Kitchener Ridership', 'Lakeshore East Ridership', 'Lakeshore West Ridership', 'Milton Ridership', 'Richmond Hill Ridership', 'Stouffville Ridership', 'Union Station Ridership']
dataset[go_ridership] = dataset[go_ridership].applymap(np.int64)
dataset['Total GO Ridership'] = dataset[go_ridership].sum(axis=1)
dataset

           Date  Year  ...  Union Station Ridership Total GO Ridership
0    2017-03-01  2017  ...                    95802             207633
1    2017-03-02  2017  ...                    95873             209194
2    2017-03-03  2017  ...                    87200             190753
3    2017-03-04  2017  ...                    13899              35389
4    2017-03-05  2017  ...                     8505              23126
...         ...   ...  ...                      ...                ...
1091 2020-02-25  2020  ...                    99431             229420
1092 2020-02-26  2020  ...                    98193             215063
1093 2020-02-27  2020  ...                    94998             210373
1094 2020-02-28  2020  ...                    95108             210076
1095 2020-02-29  2020  ...                    13307              34249

[1096 rows x 24 columns]

Finally, a new column for Holidays was created in case analysis or modeling needed to account for holiday data.

In [0]:
holidays_CAN = holidays.Canada(years=[2017,2018,2019,2020], expand=True, observed=True, prov='ON', state=None)
dataset["Holiday"] = dataset["Date"].isin(holidays_CAN)
dataset["Holiday"] = dataset["Holiday"]
dataset = dataset[['Date', 'Year', 'Month', 'year_month', 'Day', 'Weekday', 'Holiday','Max Temp (°C)', 'Min Temp (°C)', 'Mean Temp (°C)', 'Monthly Mean Temp (°C)', 'Delta Temp (°C)', 'Total Precip (mm)', 'Monthly Mean Precip (mm)' , 'Delta Precip (mm)', 'Snow on Grnd (cm)', 'Barrie Ridership', 'Kitchener Ridership', 'Lakeshore East Ridership', 'Lakeshore West Ridership', 'Milton Ridership', 'Richmond Hill Ridership', 'Stouffville Ridership', 'Union Station Ridership', 'Total GO Ridership']]
dataset

           Date  Year  ...  Union Station Ridership Total GO Ridership
0    2017-03-01  2017  ...                    95802             207633
1    2017-03-02  2017  ...                    95873             209194
2    2017-03-03  2017  ...                    87200             190753
3    2017-03-04  2017  ...                    13899              35389
4    2017-03-05  2017  ...                     8505              23126
...         ...   ...  ...                      ...                ...
1091 2020-02-25  2020  ...                    99431             229420
1092 2020-02-26  2020  ...                    98193             215063
1093 2020-02-27  2020  ...                    94998             210373
1094 2020-02-28  2020  ...                    95108             210076
1095 2020-02-29  2020  ...                    13307              34249

[1096 rows x 25 columns]

Finally, the dataframe is exported into a .csv file that all the analysis and modeling notebooks use.

In [0]:
dataset.to_csv("Final Dataset.csv", index=False)