<a href="https://colab.research.google.com/github/Jenarth/SCS3250-Group-2-Final-Project/blob/master/JJ_Final_Dataset.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd

go_data = pd.read_csv("https://github.com/Jenarth/SCS3250-Group-2-Final-Project/raw/master/Final%20GO%20Dataset.csv")
weather_data = pd.read_csv("https://github.com/Jenarth/SCS3250-Group-2-Final-Project/raw/master/Final%20Weather%20Data.csv")

In [63]:
weather_data

monthly_mean = weather_data.groupby(by="year_month")['Mean Temp (°C)','Total Precip (mm)'].mean()
monthly_mean = monthly_mean.rename(columns={'Mean Temp (°C)':'Monthly Mean Temp (°C)', 'Total Precip (mm)':'Monthly Mean Precip (mm)'})
weather_data = pd.merge(weather_data, monthly_mean, how='left', left_on='year_month', right_on='year_month')
weather_data

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  This is separate from the ipykernel package so we can avoid doing imports until

       Date/Time  Year  ...  Monthly Mean Temp (°C)  Monthly Mean Precip (mm)
0     2017-03-01  2017  ...                0.116129                  2.490323
1     2017-03-02  2017  ...                0.116129                  2.490323
2     2017-03-03  2017  ...                0.116129                  2.490323
3     2017-03-04  2017  ...                0.116129                  2.490323
4     2017-03-05  2017  ...                0.116129                  2.490323
...          ...   ...  ...                     ...                       ...
1092  2020-02-26  2020  ...               -1.906897                  2.137931
1093  2020-02-27  2020  ...               -1.906897                  2.137931
1094  2020-02-28  2020  ...               -1.906897                  2.137931
1095  2020-02-29  2020  ...               -1.906897                  2.137931
1096  2020-03-01  2020  ...               -1.600000                  0.700000

[1097 rows x 12 columns]

In [64]:
weather_data['Delta Temp (°C)'] = weather_data.apply(lambda row: row["Mean Temp (°C)"] - row["Monthly Mean Temp (°C)"], axis=1)
weather_data['Delta Percip (mm)'] = weather_data.apply(lambda row: row["Total Precip (mm)"] - row["Monthly Mean Precip (mm)"], axis=1)
weather_data

       Date/Time  Year  ...  Delta Temp (°C)  Delta Percip (mm)
0     2017-03-01  2017  ...         5.483871          15.909677
1     2017-03-02  2017  ...        -4.016129          -2.290323
2     2017-03-03  2017  ...        -6.316129          -2.490323
3     2017-03-04  2017  ...        -9.316129          -2.290323
4     2017-03-05  2017  ...        -5.616129          -2.490323
...          ...   ...  ...              ...                ...
1092  2020-02-26  2020  ...         2.306897           9.662069
1093  2020-02-27  2020  ...        -2.093103           0.962069
1094  2020-02-28  2020  ...        -3.993103          -1.037931
1095  2020-02-29  2020  ...        -6.093103          -0.937931
1096  2020-03-01  2020  ...         0.000000           0.000000

[1097 rows x 14 columns]

In [0]:
dataset = pd.merge(go_data, weather_data, how='left', left_on="Date", right_on="Date/Time")

In [66]:
dataset

             Date  line_id  ... Delta Temp (°C) Delta Percip (mm)
0      2017-03-01        3  ...        5.483871         15.909677
1      2017-03-02        3  ...       -4.016129         -2.290323
2      2017-03-03        3  ...       -6.316129         -2.490323
3      2017-03-04        3  ...       -9.316129         -2.290323
4      2017-03-05        3  ...       -5.616129         -2.490323
...           ...      ...  ...             ...               ...
69089  2020-02-24        4  ...        7.706897         -1.037931
69090  2020-02-25        4  ...        5.606897         -1.937931
69091  2020-02-26        4  ...        2.306897          9.662069
69092  2020-02-27        4  ...       -2.093103          0.962069
69093  2020-02-28        4  ...       -3.993103         -1.037931

[69094 rows x 19 columns]

In [0]:
dataset.to_csv("Final Dataset.csv")