In [2]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
from sklearn.linear_model import LinearRegression

In [3]:
# Let's import the dataset

url = 'https://raw.githubusercontent.com/Jenarth/SCS3250-Group-2-Final-Project/master/Final%20Dataset.csv'
df = pd.read_csv(url,index_col='Date', parse_dates=True)

In [4]:
# Let's convert weekdays into integers

weekday = {'Monday':1 , 'Tuesday':2 , 'Wednesday':3, 'Thursday':4, 'Friday':5, 'Saturday':6, 'Sunday':7}
df.Weekday = [weekday[item] for item in df.Weekday]
df.head()

,Year,Month,year_month,Day,Weekday,Holiday,Max Temp (°C),Min Temp (°C),Mean Temp (°C),Monthly Mean Temp (°C),...,Snow on Grnd (cm),Barrie Ridership,Kitchener Ridership,Lakeshore East Ridership,Lakeshore West Ridership,Milton Ridership,Richmond Hill Ridership,Stouffville Ridership,Union Station Ridership,Total GO Ridership
Date,,,,,,,,,,,,,,,,,,,,,
2017-03-01,2017,3,2017-03,1,3,False,13.1,-1.9,5.6,0.116129,...,0.0,10022,13585,25273,32909,15599,5639,8804,95802,207633
2017-03-02,2017,3,2017-03,2,4,False,-1.3,-6.4,-3.9,0.116129,...,0.5,9932,13331,26120,33884,15653,5665,8736,95873,209194
2017-03-03,2017,3,2017-03,3,5,False,-4.3,-8.1,-6.2,0.116129,...,0.5,8905,12235,23801,31473,14092,5129,7918,87200,190753
2017-03-04,2017,3,2017-03,4,6,False,-6.5,-11.9,-9.2,0.116129,...,0.5,928,480,7872,11756,208,0,246,13899,35389
2017-03-05,2017,3,2017-03,5,7,False,-0.4,-10.6,-5.5,0.116129,...,0.5,803,398,4714,8381,169,0,156,8505,23126

In [70]:
jan_df = df[(df.Month == 1) & (df.Year != 2020)]
jan_df.head(2)

,Unnamed: 0,Year,Month,year_month,Day,Weekday,Holiday,Max Temp (°C),Min Temp (°C),Mean Temp (°C),...,Snow on Grnd (cm),Barrie Ridership,Kitchener Ridership,Lakeshore East Ridership,Lakeshore West Ridership,Milton Ridership,Richmond Hill Ridership,Stouffville Ridership,Union Station Ridership,Total GO Ridership
Date,,,,,,,,,,,,,,,,,,,,,
2018-01-01,306,2018,1,2018-01,1,1,True,-7.9,-18.6,-13.3,...,0.0,857,366,3844,6347,96,0,131,8728,20369
2018-01-02,307,2018,1,2018-01,2,2,False,-7.1,-12.5,-9.8,...,0.0,7706,10584,20084,25182,12040,4359,6969,74432,161356

In [71]:
jan_df['Total Precip (mm)'].head()

Date
2018-01-01    0.2
2018-01-02    0.0
2018-01-03    0.2
2018-01-04    0.2
2018-01-05    0.0
Name: Total Precip (mm), dtype: float64

In [72]:
# Build linear regression model using Weekday and Precipitation as predictors
# Split data into predictors X and output Y

predictors = ['Weekday','Total Precip (mm)']
X= df[predictors]
y=df['Union Station Ridership'].values.reshape(-1,1)

In [73]:
# Initialise and fit model
lm = LinearRegression()
model = lm.fit(X, y)

In [74]:
print(f'alpha = {model.intercept_}')
print(f'betas = {model.coef_}')

alpha = [130445.57346757]
betas = [[-14518.55631976   -140.82485097]]

In [75]:
y_pred = model.predict(X)
y_pred

array([[84298.72725043],
       [72343.18321832],
       [57852.79186875],
       ...,
       [71934.79115051],
       [57697.88453269],
       [43165.24572783]])

In [76]:
new_X = [[7, 0.2]]
print(model.predict(new_X))

[[28787.51425903]]